body{
    background-image: url(Stupa_Borobudur.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div{
    width: 700px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    background-image: url(avocado.jpg);
}

.justify{
    text-align: justify;
    color: blue;
}

.repeat{
    background-repeat: repeat-x;
}